body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  margin: 0px;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  animation: App-logo-spin infinite 55s linear;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.logo-small {
  height: 50%;
}

.App-header {
  margin-top: 5%;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-intro a {
  color: black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
