doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel="stylesheet" href="home/main.css")
  body
    h1 Hello World! 
    script(asynce, src="home/index.js")
